.animate__animated {
    color: aqua;
}
* {
	padding: 0;
	margin: 0;
	font-family: century gothic;
	text-align: center;
}
form {
	padding: 50px 20px;
	background-color: #381b1ba6;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px
}
input {
	width: calc(100% - 20px);
	padding: 1px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}
input[type='submit']{
	background-color: rgb(120, 4, 155);
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
	
}
.bad {
	text-align: center;
	width: 100%;
	padding: 0px;
	background-color: #a22;
	color: #fff
}
body{
	background-image:url(../../icono/fondo.jpg);
	width: 100%;
	height:100%vh;
	background-size: cover;
	color:white;
}
@media screen and (max-width: 1000px) {
    body {
		width: auto;
		font-size:100%;
    }
    .formulario {
		background-position: center;
		margin: 0;
		width: auto;
		align-content: center;
    }
	#user, #password {
		width: 50%;
	}
	#bn {
		width: 40%;
	}
}